xmlvalido_GRUPO08/Archivos_Guia32_XML_Valido_DTD/Ejercicios/dtd_exterma/2a.dtd

<!ELEMENT fichero (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, DUI, nacionalidad?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED >
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT DUI (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ATTLIST nacionalidad idioma CDATA "ingles">