xmlvalido_GRUPO08/Archivos_Guia32_XML_Valido_DTD/Parte4-Ejercicio1/ficha_biblioteca.dtd

<!ELEMENT libros (libro)*>
    <!ELEMENT libro (titulo, autores, editorial, fecha_publicacion, isbn)+>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT autores (autor)+>
            <!ELEMENT autor (#PCDATA)>
        <!ELEMENT editorial (#PCDATA)>
        <!ELEMENT fecha_publicacion (dia, mes, año)>
            <!ELEMENT dia (#PCDATA)>
            <!ELEMENT mes (#PCDATA)>
            <!ELEMENT año (#PCDATA)>
        <!ELEMENT isbn (#PCDATA)>
